<br>
<app-search (onSearchTextEntered)="onSearchText($event)"></app-search>

<div class="filter">
  <h4>Filter Based On Rate</h4>
<input type="checkbox" name="men" id="" >
<label for="">Under {{500|currency:'INR':'symbol':"3.0"}}</label>
<br>
<input type="checkbox" name="woman" id="">
<label for="">Under {{1000|currency:'INR':'symbol':"3.0"}}</label>
<br>
<input type="checkbox" name="price" id="">
<label for="">Under {{2000|currency:'INR':'symbol':"3.0"}}</label>
</div>
<div class="container">
  <div class="row">
    <ng-container  *ngFor="let product of httpMethods.productDetails|filter:'women'&&'men':'category'">
      <!-- {{Nav.search}} -->
    <div class="card col-md-3">
      <img src="{{product.image}}" alt="">
      <h5 class="productTitle">{{product.title}}</h5>
      <p class="productDescribtion">{{product.description}}</p>
      <p><strong>Price: </strong> {{product.price|currency:"INR"}}</p>

        <button class="btn btn-warning"
        *ngIf="count==0 || !addedToCart"
        (click)="addToCart(product)">Add to cart</button>
        <!-- *ngIf="(count>0||count==0) && product.id===productId" -->
        <br>
        <div class="add">
          <button class="btn "(click)="removeCartItem(product)"  [disabled]="count<=0">-</button>
          {{count}}
          <button class="btn "(click)="addToCart(product)"> +</button>
        </div>

        <br>
      <div *ngIf="addedToCart && product.id===productId" >
      <span class="material-symbols-outlined green">
        check_circle
        </span> Added to Cart
     </div>
    </div>

  </ng-container>
  </div>
</div>


<!-- |filter:'women':'category' -->
